<div *ngFor="let landmark of landmarks; let i=index">
	<div class="card p-3 home__posts-post d-flex flex-row flex-wrap" *ngIf="hasSearchTerm ? true : i > 0" (click)="goTo(landmark.objectId)">
		<div class="col-md-3 home__posts-postImage" style="background: url({{landmark.photo_thumb}});background-size: cover;background-position: center;background-repeat: no-repeat;">
		</div>
		<div class="col-md-9 p-2 home__posts-postDescription">
			<div class="home__posts-postTitle">{{landmark.title}}</div>
			<div class="home__posts-postDescription">
				{{landmark.short_info}}
			</div>
			<div class="read__more">
				<span class="material-icons align-middle">arrow_right_alt</span>
				Read more...
			</div>
		</div>
	</div>
</div>